<div>
  <h3>Name: {{}} </h3>
  <p>Brewery: {{}}</p>
  <p>ABV: {{}}</p>
  <p>Price: {{}}</p>
  <p>Location: {{}}</p>
</div>
<div id="beer-image" class="card-body">
  <img src="{{}}" style="height: 200px; width: 100px; display: block;" alt="image of the beer">
</div>

{{!-- <div>
  {{#each comment}}
    beerId.commentArray
  {{/each}}
</div> --}}