<div class="mh-25 card card-body mb-3 transparent-background text-white h-25">
  <div class="row ">
    <h5 class="card-title text-red mx-2">{{user.name}} said:</h5>
    <div class="card card-body transparent-background text-white">
      <p class=" card-header ">{{comment}}</p>
      <p class="card-text">{{date}}</p>
    </div>
  </div>
</div>