<div class="profile-header ">
  <img class="profile-picture" src="{{user.profilePicture}}" alt="profile picture">
  <h1 class="text-white">Welcome {{user.name}}</h1>
</div>

<div class="container scroll-container">

  {{#if comments}}
  {{#each comments}}
  {{> beerCardProfile}}
  {{/each}}
  {{/if}}

</div>