<h1 class="mt-4">{{user}}</h1>
<p class="lead mb-3">
    Comments:</br>
    Ranking:
</p>
<div>
    <button type="submit" id="submit-beer">Submit new beer!</button>
</div>

<div id="comment-box">

</div>

<a href="/users/logout" class="btn btn-secondary mt-5">Logout</a>


