<h1 class="mt-4">Feed</h1>

<div>
    <button type="submit" id="submit-beer">Submit new beer!</button>
</div>

<a href="/users/logout" class="btn btn-secondary mt-5">Logout</a>

<script>
    document.getElementById("submit-beer").onclick = function () {
        location.href = "/submit-beer";
    };
</script>