<form class="form-inline my-2 my-lg-0" id="nav-search" action="/search" method="POST">
  <input class="form-control mr-sm-2" type="text" name="search" id="nav-search" placeholder="Search for a beer">
  <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
</form>
{{#if searchResult}}
<div class="cards-container">
  {{#each searchResult}}
  {{> beerSearchCard}}
  {{/each}}
</div>
{{/if}}