<form class="form-inline my-2 my-lg-0" id="nav-search" action="/search" method="POST">
  <input class="form-control mr-sm-2" type="text" name="search" id="nav-search" placeholder="Search for a beer">
  <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
</form>
<button id="insert-beer">Insert new beer</button>
<div id="new-beer-form"></div>
{{#if searchResult}}
<div class="cards-container">
  {{#each searchResult}}
  {{> beerSearchCard}}
  {{/each}}
</div>
{{/if}}
<script>

  document.getElementById("insert-beer").onclick = () => {
    document.getElementById("new-beer-form").innerHTML = `<div id="beer-form" class="col-md-6 m-auto text-white">
  <form action="/submit-beer" method="POST">
    <div class="form-group"> <label for="name">Name (required): </label>
      <input type="text" name="name" id="name" class="form-control" placeholder="Enter name">
    </div>
    <div class="form-group">
      <label for="comment">Your comment (required): </label>
      <input type="text" name="comment" id="comment" class="form-control" placeholder="How was the beer?">
    </div>
    <div class="form-group"><label for="exampleInputFile">Picture of beer</label>
      <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
    </div>
    <div class="form-group">
      <label for="name_breweries">Brewery: </label>
      <input type="text" name="name_breweries" id="name_breweries" class="form-control" placeholder="Enter brewery">
    </div>
    <div class="form-group">
      <label for="ABV">ABV (alcohol percentage): </label>
      <input type="number" step="any" name="abv" id="abv" class="form-control" placeholder="Enter abv">
    </div>
    <div class="form-group">
      <label for="price">Price paid (Euros): </label>
      <input type="number" step="any" name="price" id="price" class="form-control"
        placeholder="Enter the price you paid">
    </div>
    <div class="form-group">
      <label for="location">Location bought:</label>
      <input type="text" name="location" id="location" class="form-control"
        placeholder="Enter the location you bought it">
    </div>
    <button type="submit" class="btn btn-primary mb-6">Post your beer!</button>
  </form>
</div>`;
    document.querySelector("#insert-beer").remove()

  }
</script>