<div class="jumbotron col-md-10 m-auto">
  <div id="search-h1">
    <h1 class="display-3">What are you drinking?</h1>
  </div>

  <div id="beer-search">
    <form action="/search" method="POST">
      <p class="lead">
        <input class="form-control form-control-lg" type="text" id="search" name="search">
        <button type="submit" role="button" class="btn btn-primary btn-lg">Search!</button>
      </p>
    </form>
  </div>
</div>


{{#if searchResult}}

<div class="cards-container">
  {{#each searchResult}}
  {{> beerSearchCard}}
  {{/each}}
</div>
{{/if}}


<div class="card border-primary mb-3" id="search-header" style="max-width: 20rem;">
  <div class="card-header">Didn't find it?</div>
  <div class="card-body">
    <h4 class="card-title">Create a new beer:</h4>
  </div>
</div>