<div id="beer-search">
  <form action="/search" method="POST">
    <input type="text" id="search" name="search">
    <button type="submit">Search!</button>
  </form>
</div>

<div id="beer-creator">
  <h3>Didn't find your beer?</h3>
  <h4>Create it yourself:</h4>
</div>

<div id="beer-form">
  <form action="/submit-beer" method="POST">
    <label for="name">Name (required): </label>
    <input type="text" name="name" id="name">
    <label for="name_breweries">Brewery: </label>
    <input type="text" name="name_breweries" id="name_breweries">
    <label for="ABV">ABV (alcohol percentage): </label>
    <input type="number" name="abv" id="abv">
    <label for="price">Price paid: </label>
    <input type="number" name="price" id="price">
    <label for="location">Location bought:</label>
    <input type="text" name="location" id="location">
    <label for="comment">Your comment (required): </label>
    <input type="text" name="comment" id="comment">
    <button type="submit">Post your comment!</button>
  </form>
</div>